@use "../sass/partials" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    font-family: $font-family;
    background-color: $primary-color;
    letter-spacing: $letter-spacing-default;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ------- Header ------- */
header {
    background-color: $primary-color-inverse;
}

/* ------- Navbar ------- */
nav {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-between;
        margin-top: 1rem;
        padding-right: 2rem;

        

        a > span {
            color: $secondary-color;
            display: inline-block;
            font-size: $font-size-sm;
            transition: $transition-time;
            position: relative;
        }

        a > span:hover {
            color: $tertiary-color;
        }

        a > span:after {
            content: " ";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 0.125rem;
            bottom: 0;
            left: 0;
            background-color: $tertiary-color;
            transform-origin: bottom right;
            transition: transform $transition-time ease-out;
        }

        a > span:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

/* ------- Welcome section ------- */
.welcome {
    margin-top: 2.5rem;

    .d-flex {
        align-items: center;
        justify-content: center;
        
        .welcome-name {
            color: $tertiary-color;
            font-size: $font-size-name-sm;
        }
        .welcome-line {
            background-color: $tertiary-color;
            height: $line-height-welcome-sm;
        }
        .welcome-carousel {
            font-size: $font-size-words-sm;
            margin-top: 0.5rem;
        }
        .welcome-box-img {
            margin-top: 1rem;
        }
        img {
            display: block;
            max-width: $max-width-welcome-img-sm;
        }
    }
}

/* ------- Footer ------- */
footer {
    margin-top: auto;
}

@import "../sass/partials/mediaquery";
