@import 'config';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    font-family: $font-stack;
    background-color: $primary-color;
    
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ------- Footer ------- */
footer {
    margin-top: auto;
}