@use "../sass/partials" as *;

/* ------- General style ------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    font-family: $font-family;
    background-color: $primary-color;
    letter-spacing: $letter-spacing-default;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ------- Header ------- */
header {
    background: $primary-color-inverse;
    text-align: center;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 999;
}

/* ------- Navbar ------- */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 30px;
    cursor: pointer;
    
    span {
        margin-top: 45%;
        margin-bottom: 45%;
    }

    span,
    span::before,
    span::after {
        display: block;
        background-color: $secondary-color;
        height: 2px;
        width: 2rem;
        border-radius: 2px;
        position: relative;
    }

    span::before,
    span::after {
        content: " ";
        position: absolute;
    }

    span::before {
        bottom: 7px;
    }
    span::after {
        top: 7px;
    }
}

.navbar {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    min-width: 100%;
    background: $primary-color-inverse;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    &-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        font-size: $font-size-nav-sm;
        color: $secondary-color;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;

        & > span {
            color: $secondary-color;
            display: inline-block;
            font-size: $font-size-nav-sm;
            transition: $transition-time;
            position: relative;
        }

        & > span:hover {
            color: $tertiary-color;
        }

        & > span::after {
            content: " ";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 0.125rem;
            bottom: 0;
            left: 0;
            background-color: $tertiary-color;
            transform-origin: bottom right;
            transition: transform $transition-time ease-out;
        }

        & > span:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.nav-toggle:checked ~ .navbar {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ .navbar .nav-link {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
/* ------- Main container ------- */

/* ------- Welcome section ------- */
.welcome {
    margin-top: 0.3rem;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-box-text {
        height: 18rem;
        width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: $tertiary-color;
            font-size: $font-size-name-sm;
        }
        .welcome-line {
            background-color: $tertiary-color;
            height: $line-height-welcome-sm;
            width: 100%;
        }
        .carousel-words {
            font-size: $font-size-words-sm;
        }
    }
    &-box-img {
        height: 18rem;
        width: 18rem;

        img {
            max-width: 100%;
        }
    }
}
/* ------- About section ------- */
.about {
    margin-top: 1.5rem;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &-title {
        h1 {
            margin-bottom: 0;
            color: $tertiary-color;
            text-align: center;
            font-weight: lighter;
        }
    }

    &-description {
        margin-top: 2rem;
        text-align: justify;
        font-size: $font-size-about-description-sm;
        letter-spacing: $letter-spacing-default;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    &-resume {
        text-align: center;
        display: flex;
        min-height: 100px;
        flex-direction: column;
        justify-content: center;

        a { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            height: 70px;
        }
    }
}
/* ------- Skills ------- */
.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;

    h1 {
        color: $tertiary-color;
    }

    img {
        transition: $transition-time;
    }

    img:hover {
        transform: scale(0.9);
    }
}
/* ------- Projects ------- */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7rem;
    margin-bottom: 2rem;

    h1 {
        color: $tertiary-color;
    }

    &-grid {
        margin-top: 2rem;
    }
}

/* ------- Articles ------- */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 2rem;
    

    img {
        max-height: 100%;
    }

    h1 {
        color: $tertiary-color;
    }

    &-grid {
        margin-top: 2rem;
    }
}
/* ------- Contact me ------- */
.contact {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        min-height: 30vh;
    }
    
    &-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content:space-evenly;
        
        .form-control {
            color: $primary-color-inverse;
            background-color: $secondary-color;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            transition: $transition-time;            
        }

        .form-control:focus {
            background-color: $tertiary-color;
            border-color: $primary-color;
            box-shadow: 0 0 0 1px $primary-color;
        }
        button {
            margin-left: auto;
            margin-right: auto;
        }

    }
}
/* ------- Footer ------- */
footer {
    margin-top: auto;
    background-color: $primary-color-inverse;
}

.footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: $font-size-footer-email-xs;
    height: 20vh;

    &-email {
        a {
            transition: $transition-time;
        }
        a:hover {
            color: $tertiary-color;
        }
    }

    &-social {
        display: flex;
        flex-direction: row;
        width: 12.5rem;
        justify-content: space-evenly;

        img {
            width: $footer-img-width-xs;
            transition: $transition-time;
        }
        img:hover {
            transform: scale(0.9);
        }
    }
}

@import "../sass/partials/mediaquery";
