/* TODO risolvere */
h1, h2, h3, h4, h5, h6, p, a {
  color: #FAF8FF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: "Reem Kufi", sans-serif;
  background-color: #393441;
  letter-spacing: 0.1rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ------- Header ------- */
header {
  background-color: #2f2a36;
}

/* ------- Navbar ------- */
.navbar .navbar-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  margin-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.navbar .navbar-nav .nav-link > span {
  color: #FAF8FF;
  display: inline-block;
  font-size: 1rem;
  transition: 300ms;
  position: relative;
}
.navbar .navbar-nav .nav-link > span:hover {
  color: #FBBA83;
}
.navbar .navbar-nav .nav-link > span:after {
  content: " ";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #FBBA83;
  transform-origin: bottom right;
  transition: transform 300ms ease-out;
}
.navbar .navbar-nav .nav-link > span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ------- Welcome section ------- */
.welcome {
  margin-top: 1.7rem;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-box-text {
  height: 18rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-box-text h1 {
  color: #FBBA83;
  font-size: 2.9rem;
}
.welcome-box-text .welcome-line {
  background-color: #FBBA83;
  height: 0.313rem;
  width: 100%;
}
.welcome-box-text .carousel-words {
  font-size: 1.4rem;
}
.welcome-box-img {
  height: 18rem;
  width: 18rem;
}
.welcome-box-img img {
  max-width: 100%;
}

/* ------- Footer ------- */
footer {
  margin-top: auto;
}

/* TODO risolvere */
h1, h2, h3, h4, h5, h6, p, a {
  color: #FAF8FF;
}

@media (min-width: 768px) {
  /* Navbar */
  .navbar .navbar-nav .nav-link > span {
    font-size: 1.2rem;
  }

  /* Welcome section */
  .welcome {
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .welcome-box-text {
    height: 20rem;
    width: 20rem;
  }
  .welcome-box-text h1 {
    font-size: 3rem;
  }
  .welcome-box-text .welcome-line {
    height: 0.626rem;
  }
  .welcome-box-text .carousel-words {
    font-size: 1.5rem;
  }
  .welcome-box-img {
    height: 20rem;
    width: 20rem;
  }
}
@media (min-width: 992px) {
  /* Navbar */
  .navbar .navbar-nav .nav-link > span {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  /* Navbar */
  .navbar .navbar-nav .nav-link > span {
    font-size: 1.6rem;
  }

  /* Welcome - section */
  .welcome-box-text {
    height: 22.5rem;
    width: 22.5rem;
  }
  .welcome-box-text h1 {
    font-size: 3.5rem;
  }
  .welcome-box-img {
    height: 22.5rem;
    width: 22.5rem;
  }
}
@media (min-width: 1400px) {
  /* Navbar */
  .navbar .navbar-nav .nav-link > span {
    font-size: 1.8rem;
  }

  /* Welcome section */
  .welcome-box-text {
    height: 25rem;
    width: 25rem;
  }
  .welcome-box-text h1 {
    font-size: 4rem;
  }
  .welcome-box-text .carousel-words {
    font-size: 2rem;
  }
  .welcome-box-img {
    height: 25rem;
    width: 25rem;
    display: flex;
  }
  .welcome-box-img img {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
