// Color
$primary-color: #393441;
$primary-color-inverse: #2f2a36;
$secondary-color: #FAF8FF;
$tertiary-color: #FBBA83;

/* TODO risolvere */
$linear-gradient-color-up: linear-gradient(to bottom, #393441, #36313e, #342f3b, #312c39, #2f2a36);
$linear-gradient-color-bottom: linear-gradient(to top, #393441, #36313e, #342f3b, #312c39, #2f2a36);