@use "colors" as *;

// Font - type
$font-family: 'Reem Kufi', sans-serif;

// Font - size
$font-size-nav-sm: 1rem;
$font-size-nav-md: 1.20rem;
$font-size-nav-lg: 1.40rem;
$font-size-nav-xl: 1.60rem;
$font-size-nav-xxl: 1.80rem;

$font-size-name-sm: 2.9rem;
$font-size-name-md: 3rem;
$font-size-name-lg: 3rem;
$font-size-name-xl: 3.5rem;
$font-size-name-xxl: 4rem;

$font-size-words-sm: 1.4rem;
$font-size-words-md: 1.5rem;
$font-size-words-lg: 2rem;
$font-size-words-xl: 2rem;
$font-size-words-xxl: 2rem;

// Letter's space
$letter-spacing-default: 0.10rem;

// Setting text's color
h1, h2, h3, h4, h5, h6, p, a {
    color: $secondary-color;
}