@use "colors" as *;

// Font - type
$font-stack: 'Reem Kufi', sans-serif;

// Font - size
$font-size-sm: 1rem;
$font-size-md: 1.05rem;
$font-size-lg: 1.10rem;
$font-size-xl: 1.15rem;
$font-size-xxl: 1.20rem;

$font-size-name-sm: 2rem;
$font-size-name-md: 2.5rem;
$font-size-name-lg: 2rem;
$font-size-name-xl: 2rem;
$font-size-name-xxl: 2rem;

$font-size-words-sm: 1rem;
$font-size-words-md: 1.2rem;
$font-size-words-lg: 2rem;
$font-size-words-xl: 2rem;
$font-size-words-xxl: 2rem;

// Letter's space
$letter-spacing-default: 0.10rem;

// Setting text's color
h1, h2, h3, h4, h5, h6, p, a {
    color: $secondary-color;
}