@use "colors" as *;

// Font - type
$font-family: 'Reem Kufi', sans-serif;

// Setting text's color
h1, h2, h3, h4, h5, h6, p, a {
    color: $secondary-color;
}

// Setting for "b" tag
b { color: $tertiary-color;}

// Letter's space
$letter-spacing-default: 0.15rem;

// Font - size
$font-size-nav-sm: 1rem;
$font-size-nav-md: 1.20rem;
$font-size-nav-lg: 1.40rem;
$font-size-nav-xl: 1.60rem;
$font-size-nav-xxl: 1.80rem;

$font-size-name-sm: 2.9rem;
$font-size-name-md: 3rem;
$font-size-name-lg: 3rem;
$font-size-name-xl: 3.5rem;
$font-size-name-xxl: 4rem;

$font-size-words-sm: 1.2rem;
$font-size-words-md: 1.5rem;
$font-size-words-lg: 2rem;
$font-size-words-xl: 2rem;
$font-size-words-xxl: 2rem;

$font-size-about-description-xs: 1rem;
$font-size-about-description-sm: 1.2rem;
$font-size-about-description-lg: 1.3rem;
$font-size-about-description-xxl: 1.4rem;

$font-size-footer-email-xs: 1rem;
$font-size-footer-email-sm: 1.4rem;
$font-size-footer-email-md: 1.7rem;
$font-size-footer-email-lg: 1.10rem;
$font-size-footer-email-xl: 1.13rem;
$font-size-footer-email-xxl: 1.16rem;

$font-size-contact-title-md: 2.5rem;
$font-size-contact-title-lg: 2.813rem;


$font-size-contact-subtitle-md: 1.375rem;
$font-size-contact-subtitle-lg: 1.563rem;
