@use "fonts" as *;
@use "utilities" as *;

/* --- Extra Small (XS - 575px)  ---- */

@media (max-width: 575px) {
    /* -- Navbar -- */
    .navbar-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    /* -- Welcome section -- */
    .welcome {
        height: auto;
    }

    /* -- About Me -- */
    .about {
        height: auto;

        &-description {
            font-size: $font-size-about-description-xs;
        }
    }

    /* -- Skill -- */
    .skill {
        height: auto;
        margin-top: 5rem;
    }
}

// Extra Small - (xs) - Landscape
@media (orientation: landscape) and (max-width: 575px) {
    /* Main */
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .welcome {
            height: auto;
        }
        .about {
            height: auto;

            .btn-primary {
                margin-top: 2.5rem;
            }
        }
    }
    /* Skill */
}

/* --- Small (SM - 576px)  ---- */

@media (min-width: 576px) {
    /* Skill */
    .skill {
        height: auto;
        margin-top: 5rem;
    }
    /* Projects */
    .card-content {
        transform: translateY(45%);
    }
    /* Footer */
    .footer-email {
        a {
            font-size: $font-size-footer-email-sm;
        }
    }
}

@media (orientation: landscape) and (min-width: 576px) {
    .welcome,
    .about {
        height: auto;
    }

    .about {
        .btn-primary {
            margin-top: 2rem;
        }
    }
}

/* --- Medium (MD - 768px)  ---- */

@media (min-width: 768px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-md;
            }
        }
    }

    /* Welcome section */
    .welcome {
        height: 55vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        &-box-text {
            height: 20rem;
            width: 20rem;

            h1 {
                font-size: $font-size-name-md;
            }
            .welcome-line {
                height: $line-height-welcome-md;
            }
            .carousel-words {
                font-size: $font-size-words-md;
            }
        }
        &-box-img {
            height: 20rem;
            width: 20rem;
        }
    }

    /* About section */
    .about {
        height: 88vh;
        margin-top: 0;

        .btn-primary {
            margin-top: 2rem;
        }
    }

    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-email {
            a {
                font-size: $font-size-footer-email-md;
            }
        }

        &-social {
           img {
               width: $footer-img-width-md;
           } 
        }
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    .welcome,
    .about {
        height: auto;
    }
}

/* --- Large (LG - 992px)  ---- */

@media (min-width: 992px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-lg;
            }
        }
    }

    /* About section */
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-description {
            font-size: $font-size-about-description-lg;
        }
    }
}

/* --- Extra Large (XL - 1200px)  ---- */

@media (min-width: 1200px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-xl;
            }
        }
    }

    /* Welcome - section */
    .welcome {
        height: auto;

        &-box-text {
            height: 22.5rem;
            width: 22.5rem;

            h1 {
                font-size: $font-size-name-xl;
            }
        }
        &-box-img {
            height: 22.5rem;
            width: 22.5rem;
        }
    }

    /* About - section  */
    .about {
        height: auto;
        margin-top: 2rem;
    }
}

/* --- Extra Extra Large (XXL - 1400px)  ---- */

@media (min-width: 1400px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-xxl;
            }
        }
    }
    /* Welcome section */
    .welcome {
        &-box-text {
            height: 25rem;
            width: 25rem;

            h1 {
                font-size: $font-size-name-xxl;
            }
            .carousel-words {
                font-size: $font-size-words-xxl;
            }
        }
        &-box-img {
            height: 25rem;
            width: 25rem;
            display: flex;

            img {
                max-width: 100%;
            }
        }
    }

    /* About section */
    .about {
        height: 70vh;

        &-description {
            font-size: $font-size-about-description-xxl;
        }
    }

    /* Skill section */
    .skill {
        height: 100vh;
    }
}
