@use "fonts" as *;
@use "utilities" as *;

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@media (min-width: 0px) {
    .welcome {
        .d-flex {
            display: flex;
            flex-direction: column;
        }
    }
}

// Small (sm)
@media (min-width: 576px) {
}
// Medium (md)
@media (min-width: 768px) {
    /* Navbar */
    nav {
        ul {
            a > span {
                font-size: $font-size-md;
            }
        }
    }

    /* Welcome section */
    .welcome {
        .d-flex {
            .welcome-box-text {
                margin-left: -5.5rem;
            }
            .welcome-name {
                padding: 0rem 8.125rem;
                font-size: $font-size-name-md;
            }
            .welcome-line {
                margin: 0rem 0.25rem;
            }
            .welcome-carousel {
                font-size: $font-size-words-md;
            }
            .img {
                padding-bottom: 2rem;
            }
        }
    }
}
// Large (lg)
@media (min-width: 992px) {
    /* Navbar */
    nav {
        ul {
            a > span {
                font-size: $font-size-lg;
            }
        }
    }
}
// Extra Large (xl)
@media (min-width: 1200px) {
    /* Navbar */
    nav {
        ul {
            a > span {
                font-size: $font-size-xl;
            }
        }
    }
}
// Extra extra Large (xxl)
@media (min-width: 1400px) {
    /* Navbar */
    nav {
        ul {
            a > span {
                font-size: $font-size-xxl;
            }
        }
    }
}
