@use "fonts" as *;
@use "utilities" as *;

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@media (max-width: 575px) {
    /* Navbar */ 
    /* Welcome section */
    /* About Me */
    .about {
        height: 130vh;
        
        &-description {
            font-size: $font-size-about-description-xs;
        }
    }
}

// Small (sm)
@media (min-width: 576px) {
}
// Medium (md)
@media (min-width: 768px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-md;
            }
        }
    }

    /* Welcome section */
    .welcome {
        height: 55vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;

        &-box-text {
            height: 20rem;
            width: 20rem;

            h1 {
                font-size: $font-size-name-md;
            }
            .welcome-line {
                height: $line-height-welcome-md;
            }
            .carousel-words {
                font-size: $font-size-words-md;
            }
        }
        &-box-img {
            height: 20rem;
            width: 20rem;
        }
    }
    /* About section */
    .about {
        height: 80vh;
        margin-top: 0;
    }
}
// Large (lg)
@media (min-width: 992px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-lg;
            }
        }
    }
    /* About section */
    .about {
        &-description {
            font-size: $font-size-about-description-lg;
        }
    }
}
// Extra Large (xl)
@media (min-width: 1200px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-xl;
            }
        }
    }
    /* Welcome - section */
    .welcome {
        &-box-text {
            height: 22.5rem;
            width: 22.5rem;

            h1 {
                font-size: $font-size-name-xl;
            }
        }
        &-box-img {
            height: 22.5rem;
            width: 22.5rem;
        }
    }
}
// Extra extra Large (xxl)
@media (min-width: 1400px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link > span {
                font-size: $font-size-nav-xxl;
            }
        }
    }
    /* Welcome section */
    .welcome {
        &-box-text {
            height: 25rem;
            width: 25rem;

            h1 {
                font-size: $font-size-name-xxl;
            }
            .carousel-words {
                font-size: $font-size-words-xxl;
            }
        }
        &-box-img {
            height: 25rem;
            width: 25rem;
            display: flex;

            img {
                max-width: 100%;
            }
        }
    }

    /* About section */
    .about {
        &-description {
            font-size: $font-size-about-description-xxl;
        }
    }
}
