@use "colors" as *;

.modal {
    color: $secondary-color;

    .btn-close {
        background-color: $secondary-color;
    }
    &-title, h5 {
        font-weight: bold;
    }
    &-content {
        background-color: $primary-color-inverse;
        text-align: left;
    }
}