@use "colors" as *;
@use "fonts" as *;

// Transition
$transition-time: 300ms;

// Bootstrap padding fixed
[class*="col-"] {
    padding: 1rem;
}

// Welcome-line
$line-height-welcome-sm: 0.313rem;
$line-height-welcome-md: 0.626rem;
$line-height-welcome-lg: 0.313rem;
$line-height-welcome-xl: 0.313rem;
$line-height-welcome-xxl: 0.313rem;

// Footer img
$footer-img-width-xs: 1.875rem;
$footer-img-width-md: 2.2rem;
