// Transition
$transition-time: 300ms;


// Welcome-line
$line-height-welcome-sm: 0.313rem;
$line-height-welcome-md: 0.313rem;
$line-height-welcome-lg: 0.313rem;
$line-height-welcome-xl: 0.313rem;
$line-height-welcome-xxl: 0.313rem;

// Welcome - img
$max-width-welcome-img-sm: 10.938rem;